html {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

#nav-style {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

#paragraph {
  font-weight: normal;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}

img {
  width: 100%;
}

strong {
  font-weight: normal;
}

ol {
  list-style-type: lower-greek;
}

.italic {
  font-style: italic;
  font-family: "PT Serif", serif;
}

figcaption {
  font-family: "PT Serif", serif;
  text-align: center;
  font-style: italic;
  font-size: 1.125rem;
}

dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

dd {
  font-family: "PT Serif", serif;
}

ul {
  list-style-type: circle;
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

.boldfont {
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
  font-weight: bold;
  text-align: left;
}

p {
  text-align: left;
  font-family: "PT Serif", serif;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "PT Serif", serif;
}

.chrispratt {
  line-height: 6rem;
  font-size: .8rem;
}

.link {
  font-family: "PT Serif", serif;
}
