html {
  background-color: #c9b5ab;
  font-family: PT, sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

figcaption {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

nav {
  font-family: PT, serif;
  font-size: .8rem;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

a {
  color: #8f2440;
  text-decoration: none;
  list-style: none;
}

.albino {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  list-style-type: lower-greek;
}

.paragraph {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: lighter;
}
