html {
  background-color: #c9b5ae;
}

h1, h2 {
  color: #471c38;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

nav,
.list-1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #99213d;
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.large-text {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.body-text {
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}

.chris-pratt {
  font-weight: normal;
  font-size: 1.5rem;
}

.list-2 {
  font-family: "PT Serif", serif;
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

dl, ul, footer {
  font-family: "PT Serif", serif;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}

a {
  color: #99213d;
  text-decoration: none;
}

a:hover {
  color: #471c38;
  text-decoration: underline;
}
